*_ref
*_auto
*_naive
ref_perf.txt
auto_perf.txt
naive_perf.txt
.bench_ref.*.txt
.bench_auto.*.txt
.bench_naive.*.txt
benchmarks-*.png
cost_function_test/cost.h
cost_function_test/cost_function_test
data_dependent_test/data_dep.h
data_dependent_test/data_dependent_test
split_test/data_dep.h
split_test/data_dependent_test
parallel_test/parallel
tile_vs_inline_test/parallel
unsharp/unsharp
unsharp/unsharp.h
overlap_test/overlap.h
overlap_test/overlap_test
hist/hist
hist/hist.h
mat_mul/mat_mul
